
.popup .modal-content {
    border: none;
    margin: 5rem 1rem;
}

.popup .modal-dialog {
}

.popup .modal-body {
    text-align: center;
}

.popup .modal-footer {
}

.popup .task-text {
    font-size: 3.3rem;
    margin: 2rem 0;
    line-height: 1.3;
}

.popup .task-text small {
    font-size: 2rem;
}

.popup .compliment-text {
    font-size: 3rem;
    line-height: 1;
    margin: 2rem 0;
    font-weight: 600;
    color: #e74c3c;
}

.popup .modal-footer {
    text-align: center;
}

.popup .modal-footer button {
    border: none;
    background-color: #f39c12 !important;
    background-image: none;
    font-weight: bold;
    font-size: 1.5rem;
}
