.start {
    font-family: 'Fugaz One', cursive;
    text-align: center;
}

.start .jumbotron {
    background-color: transparent;
    margin: 5rem 0;
}

.start h1 {
    font-size: 4.5rem;
}

.start p {
    margin: 4rem 5rem;
    font-size: 2.5rem;
}

.start img {
    height: 8rem;
    padding: 0 0.7rem;
}

.start button {
    border: none;
    background-color: #f39c12 !important;
    background-image: none;
    font-weight: bold;
    font-size: 2.5rem;
}
